
.management-list {
    margin-bottom: 30px;
}

.management-list .manageable-item {
    padding: 16px;
    border-radius: 10px;
}

.management-list .manageable-item:hover {
    background-color: rgb(217, 224, 233);
}

.management-list .manageable-item h4 {
    display: inline-block;
}

.management-list .manageable-item .item-description {
    padding: 22px 30px;
    font-size: 12px;
    color: grey;
}

.management-list .manageable-item .default-button {
    margin-top: 12px;
}

h2.title-action {
    display: inline-block
}
h2.title-action+.action-title {
    margin-top: 20px;
}

.manage-users-list,
.manage-product-list,
.manage-service-list {
    margin: 20px 0;
}

.manage-users-list .manageable-user,
.manage-product-list .manageable-product,
.manage-service-list .manageable-service {
    padding: 0 30px;
    border-radius: 10px
}

.manage-users-list .manageable-user .user-img,
.manage-product-list .manageable-product .product-img,
.manage-service-list .manageable-service .service-img {
    width: 60px;
    height: 60px;
    margin-right: 30px;
}

.manage-users-list .manageable-user .user-img>img,
.manage-product-list .manageable-product .product-img>img,
.manage-service-list .manageable-service .service-img>img {
    max-width: 100%;
}

.manage-users-list .manageable-user h4,
.manage-product-list .manageable-product h4,
.manage-service-list .manageable-service h4 {
    display:inline-block;
}

.manage-users-list .manageable-user:hover h4,
.manage-product-list .manageable-product:hover h4,
.manage-service-list .manageable-service:hover h4 {
    text-decoration: underline;
}

.manage-users-list .manageable-user .user-role,
.manage-product-list .manageable-product .product-amount,
.manage-service-list .manageable-service .service-duration {
    display: inline-block;
    padding: 22px 30px;
    font-size: 12px;
    color: grey;
}

.manage-users-list .manageable-user .actions button,
.manage-product-list .manageable-product .actions button,
.manage-service-list .manageable-service .actions button {
    margin-top: 15px;
    width: auto;
}

.manage-users-list .manageable-user .actions button.danger,
.manage-product-list .manageable-product .actions button.danger,
.manage-service-list .manageable-service .actions button.danger {
    margin-left: 5px;
}
