html {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: normal;
}

body {
    margin: 0;
    font-size: 16px;
}

.page-constraint {
    margin: 0 auto;
    padding-right: 30px;
    padding-left: 30px;
    max-width: 992px;
}

#page-content {
    padding-top: 60px;
}

.row {
    width: 100%;
    background-color: #fff;
}

.section {
    margin-bottom: 20px;
}

.right {
    float: right !important;
}

.left {
    float: left !important;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.centered {
    text-align: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.default-button {
    border: none;
    border-radius: 2px;
    display: inline-block;
    width: 218px;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    font-size: 14px;
    background-color: rgb(54, 131, 233);
    color: #fff;
    text-decoration: none;
    text-align: center;
    letter-spacing: .5px;
    cursor: pointer;
}

.card {
    padding: 20px;
    border: 1px solid #e7e7e7;
    border-radius: 8px;
    margin: 15px 0 15px 12px;
}
.card:hover {
    border-color: rgb(54, 131, 233);
}

.price > h1.value {
    color:  rgb(54, 131, 233);
    font-weight: 900;
    letter-spacing: -2px;
    margin-bottom: 0;
}
.price p.installments {
    text-transform: uppercase;
    color: grey;
    font-size: 12px;
    margin: 0
}
